.deal-of-the-day .product-price {
  width: 6em;
  height: 6em;
  background-color: #8eb359;
  border-radius: 100px;
  z-index: 1000;
  font-style: italic;
  font-size: 1.5em;
  color: white !important;
  letter-spacing: 0.2em; }
.deal-of-the-day .deal-product-name {
  color: #8eb359;
  font-style: italic;
  letter-spacing: 0.2em; }
.deal-of-the-day .deal-product-header {
  letter-spacing: 0.1em; }
.deal-of-the-day .main-font {
  font-family: "Playfair Display", serif; }
.deal-of-the-day .add-to-cart {
  font-weight: 500; }

.deal-background {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  background-image: url(../../media/deal-background.png);
  /* border-color: #f8f9fa; */
  background-size: cover;
  /* background-position: left top; */
  background-repeat: no-repeat;
  /* height: 100vh; */
  /* width: auto; */
  /* align-items: center; */
  margin-bottom: 0; }

.product-shelf .product-lot :hover .product-name {
  color: #8eb359; }
.product-shelf .product-lot .product-desc a {
  font-size: 1.2em;
  font-family: "Playfair Display", serif;
  letter-spacing: 0.05em;
  color: #333;
  font-weight: 700;
  transition: all 0.2s; }
.product-shelf .product-lot .product-desc .product-price {
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-size: 0.9em;
  font-weight: 700;
  color: #696969; }
